<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>194432628541-dj68t3vvqhcb2h8tpiq66g824a3kgnfd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.194432628541-dj68t3vvqhcb2h8tpiq66g824a3kgnfd</string>
	<key>API_KEY</key>
	<string>AIzaSyAH_KnrlJCZwX-ftBeCFqCRL9UnPr7HWnE</string>
	<key>GCM_SENDER_ID</key>
	<string>194432628541</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>university-of-new-haven.Line-Up</string>
	<key>PROJECT_ID</key>
	<string>line-up-1f488</string>
	<key>STORAGE_BUCKET</key>
	<string>line-up-1f488.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:194432628541:ios:bf47f30b6574c863b6b754</string>
	<key>DATABASE_URL</key>
	<string>https://line-up-1f488.firebaseio.com</string>
</dict>
</plist>